.header{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  transition: all 0.5s ease;
  padding: 6px 0;
  @media all and (max-width: 1024px){
    height: 40px;
    display: flex;
    align-items: center;
  }
  @media all and (max-width: 500px){
    padding: 6px 0;
  }
  &.mobile-menu{
    background-color: white;
    .header__burger{
      span{
        &:nth-child(1){
          transform: rotate(-45deg) translateY(6px);
          width: 25px;
        }
        &:nth-child(2){
          display: none;
        }
        &:nth-child(3){
          transform: rotate(45deg) translateY(-7px);
          width: 25px;
        }
      }
    }
    .header__logo{
      &-main{
        display: none;
      }
      &-move{
        display: block;
      }
    }
    .header__mobile-menu{
      li{
        margin: 0 0 10px 0;
        a{
          color: #FFFFFF;
        }
      }
      .language-chooser{
        li{
          a{
            color: #FFFFFF;
          }
        }
        .active{
          border: none;
          a{
            text-decoration: underline;
          }
        }
      }
    }
    .language-chooser{
      .active{
        border: 1px solid #1FAB7C;
        a{
          color: #222A35;
        }
      }
      li{
        &:hover{
          a{
            color: #222A35;
          }
        }
      }
    }
    .menu-item{
      a{
        color: #222A35;
      }
    }
  }
  &__mobile-menu{
    position: fixed;
    right: 0;
    top: 40px;
    height: calc(100vh - 40px);
    z-index: 999;
    transform: translateX(100%);
    min-width: 320px;
    background-color: #003057;
    transition: 0.5s ease-in;
    padding: 0 0 80px 0;
    &-wrapper{
      height: 100%;
    }
    @media all and (max-width: 500px){
      width: 100%;
    }
    &.active{
      transform: translateX(0);
    }
    .header__language{
      display: block;
      text-align: center;
      width: 100%;
      padding: 0 40px;
      @media all and (max-width: 500px){
        padding: 0 20px;
      }
      .language-chooser{
        justify-content: center;
        li{
          a{
            font-size: 18px;
          }
        }
      }
    }
    .header__nav{
      display: block;
      margin-right: 0;
      width: 100%;
      padding: 40px;
      @media all and (max-width: 500px){
        padding: 40px 20px;
      }
      #main-menu{
        display: flex;
        flex-direction: column;
        li{
          margin-bottom: 10px;
        }
        > li{
          width: 100%;
          text-align: center;
          &:hover{
            border-bottom: 2px solid transparent;
          }
          > a{
            border-top: none;
            font-size: 2rem;
            @media all and (max-width: 500px){
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
  &.moved{
    background: #FFF;
    box-shadow: 0px 10.773165702819824px 26.20140266418457px 0px rgba(0, 0, 0, 0.03), 0px 36.18482208251953px 88.00505828857422px 0px rgba(0, 0, 0, 0.04), 0px 162px 394px 0px rgba(0, 0, 0, 0.07);
    .header__logo{
      &-main{
        display: none;
      }
      &-move{
        display: block;
      }
    }
    .header__mobile-menu{
      li{
        a{
          color: #FFFFFF;
        }
      }
      .language-chooser{
        li{
          a{
            color: #FFFFFF;
          }
        }
        .active{
          border: none;
          a{
            text-decoration: underline;
          }
        }
      }
    }
    .language-chooser{
      .active{
        border: 1px solid #1FAB7C;
        a{
          color: #222A35;
        }
      }
      li{
        &:hover{
          a{
            color: #222A35;
          }
        }
      }
    }
    .menu-item{
      a{
        color: #222A35;
      }
    }
  }
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__logo{
    width: auto;
    height: 100%;
    .header__logo-container{
      display: inline-block;
      position: relative;
      height: 100%;
    }
    .header__logo-move{
      display: none;
    }
    img{
      height: 100%;
      width: auto;
      transition: all 0.5s ease;
    }
  }
  &__language{
    width: 10%;
    @media all and (max-width: 1024px){
      display: none;
    }
    .language-chooser{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li{
        border: 2px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.4rem;
        @media all and (max-width: 1600px){
          border-radius: 0;
        }
        &:first-child{
          margin-left: 0;
        }
        @media all and (max-width: 1400px){
          margin-left: 10px;
        }
        &:hover{
          a{
            color: #FFFFFF;
          }
        }
        &.active{
          border: 1px solid #FFFFFF;
          @media all and (max-width: 1600px){
            border: none;
            border-bottom: 1px solid #FFFFFF;
            color: #FFFFFF;
          }
          a{
            color: #FFFFFF;
          }
        }
        a{
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 100%;
          color: #BDC0C3;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0.5rem;
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }
  &__nav{
    width: 80%;
    @media all and (max-width: 1024px){
      display: none;
    }
    .menu{
      display: flex;
      justify-content: center;
      align-items: center;
      &-item{
        margin: 0 3.6rem;
        transition: all 0.5s ease;
        border-bottom: 2px solid transparent;
        &:last-child{
          margin-right: 0; //временно
        }
        @media all and (max-width: 1600px){
          margin: 0 3rem;
        }
        @media all and (max-width: 1440px){
          margin: 0 2rem;
        }
        &:hover{
          border-bottom: 2px solid #1FAB7C;
          > a{

          }
        }
        a{
          text-decoration: none;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 102.5%;
          text-transform: uppercase;
          color: #FFFFFF;
          padding: 1.6rem 1.6rem;
          display: inline-block;
          transition: $transition;
          @media all and (max-width: 1600px){

          }
          @media all and (max-width: 1440px){

          }
        }
      }
    }
  }
  &__burger{
    display: none;
    cursor: pointer;
    @media all and (max-width: 1024px){
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      z-index: 1000;
    }
    &.active{
      span{
        &:first-child{
          transform: rotate(45deg) translateX(6px) translateY(6px);
          width: 24px;
        }
        &:nth-child(2){
          width: 0;
        }
        &:last-child{
          transform: rotate(-45deg) translateX(6px) translateY(-7px);
          width: 24px;
        }
      }
    }
    span{
      transition: $transition;
      display: block;
      width: 24px;
      height: 3px;
      background: #A0BCC8;
      border-radius: 2px;
      margin: 3px 0;
      &:first-child{
        width: 13px;
      }
      &:last-child{
        width: 19px;
      }
    }
    &:hover{
      span{
        width: 24px;
      }
    }
  }
}